
<head>
<%include partials/head%>
</head>

<body class="w3-content" style="max-width:950px">

<!-- Sidebar/menu -->

  <div class="w3-sidebar w3-bar-block w3-white w3-top" style="text-align: justify;text-justify: inter-word; z-index:3; width:100%; padding-top: 80px" >
    <h2>administración estudiantes</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci iusto, tenetur animi exercitationem earum ut maiores eos cupiditate natus quod vitae voluptatem in nesciunt! Nemo iusto tempore, odio reiciendis recusandae distinctio asperiores amet blanditiis corporis, voluptate eius eligendi corrupti quas dolor quisquam eos laboriosam officiis perferendis quibusdam iure. Dolores, obcaecati.
  </p>
<div class="container P-4">

<div class="w3-sidebar" style="width:33.33%;margin-left:6.25%">
<input type="button" value="Agregar" onclick="window.location.href='aea'" style="width: 150px">
</div>

<div class="w3-sidebar" style="width:33.33% ; margin-left:38.29%"> 
<input type="button" value="consultar" onclick="window.location.href='aec'" style="width: 150px">
</div>



</div>
  </div>

</body>

