
<head>
<%include partials/head%>
</head>

<body class="w3-content" style="max-width:950px">

<!-- Sidebar/menu -->

  <div class="w3-sidebar w3-bar-block w3-white w3-top" style="text-align: justify;text-justify: inter-word; z-index:3; width:100%; padding-top: 80px" >
    <h2>Modulo de creación de materias</h2>
  <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit esse nemo ex, dolores asperiores enim? Dolores reiciendis cumque tempora saepe ab incidunt rem inventore corrupti voluptates at iure itaque, esse soluta beatae doloribus totam cupiditate repellendus temporibus ex ad optio mollitia. Ratione aliquam, explicabo in voluptatibus quas laudantium nulla dolorum.</p>

<div class="w3-sidebar" style="width:33.33%;margin-left:6.25%">
<input type="button" value="Crear" onclick="window.location.href='ama'" style="width: 150px"></input>
</div>

<div class="w3-sidebar" style="width:33.33% ; margin-left:38.29%"> 
<input type="button" value="Modificar" onclick="window.location.href='amm'" style="width: 150px"></input>
</div>


</div>


  </div>

</body>
